# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
venv/
.venv/
env/
ENV/

# Environment variables / secrets
.env
.env.*

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/
.tox/

# IDE / editor
.vscode/
.idea/
*.swp

# OS junk
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Logs
*.log
outputs/*
data_dynamic/*
!data_dynamic/ideal_flux.csv

sandbox.py